.TituloPrincipal{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F3F16F;
    position: absolute;
    z-index: 1;
    padding-left: 9%;
    padding-top: 10%;
}
.ImgTitulo{
    position:relative ;
    max-width: 100%;
    height: auto;
    margin: 0%;

}
body{
    margin: 0%;
}
.nav{
    background-color: #373737;
    margin: 0%;
    max-height: fit-content;
    padding: 0%;
    border-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.enlace{
    text-decoration: none;
    color: white;
    margin: 5%;
    font-size:x-large;
    
}
header{
    background-color: #373737;
}
.Subtitulo{
    padding-left: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #740000;
}
.ImgPresentacion{
    margin-top: 5%;
    margin: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    max-width: 30%;
    height: max-content;
}
.texto{
    margin: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.CustomTxt1{
    margin: 1%;
    padding: 3%;
    padding-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    width: 50%;
    border-style: solid;
    border-width: 1px;
    border-left-style: none;
}
.CustomTxt2{
    padding: 3%;
    padding-bottom: 31px;
    padding-top: 33px;
    padding-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    width: 30%;
    position: relative;
    left:58%;
    bottom: 158px;
    border-style: solid;
    border-width: 1px;
    border-right-style: none;
    border-left-style: none;
}
